.trang{
	width: 950px;
	height: 2700px;
	background: gray;
	margin: 0 auto;
}
.page{
	width: 800px;
	height: 2700px;
	background: white;
	margin: 0 auto;
}
.page .box1{
	width: 100%;
	height: 100px;
	background: gray;
}
.hm{
	width: 200px;
	height: 100%;
	/*background: red;*/
	float: left;
}
.menu{
	width: 600px;
	height: 100%;
	/*background: orange;*/
	float: left;
}
.me li{
        float: left;
        display: block;
}
.menu li a{
    text-decoration: none;
    line-height: 60px;
    color: white;
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
}
.me li:hover >a{
    color: #85d152;
}
select {
	background: gray;
	color: white;
	border: none;
	font-size: 3px;
}
.page .box2{
	width: 100%;
	height: 300px;
	float: left;
}
.text1 {
	position: absolute;
	color: white;
	font-size: 60px;
	font-family: time new roman;
	top: 90px;
	margin-left: 190px;
}
.page .box4{
	width: 100%;
	height: 300px;
	background: yellow;
}
.page .hinhvuong3{
	width: 100%;
	height: 300px;
	/*background: red;*/
}
.logo {
	width: 18%;
	height: 45%;
	/*background: orange;*/
	margin-left: 46px;
	float: left;
}
.chu{
	width: 100%;
	height: 30%;
	/*background : yellow;*/
	float: left;
	margin-top: 10px;
}
.chu .test{
	width: 20%;
	height: 100%;
	/*background: white;*/
	margin-left: 33px;
	float: left;
}
.test p{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.page .hinhvuong4{
	width: 100%;
	height: 300px;
	background: white;
}
.food{
	width: 25%;
	height: 100%;
	background: pink;
	float: left;
}
.page .hinhvuong5{
	width: 100%;
	height: 290px;
	/*background: orange;*/
}
.HAPPY{
	width: 50%;
	height: 100%;
	float: left;
}
.page .hinhvuong6{
	width: 100%;
	height: 390px;
	/*background: #f6f6f6;*/
}
.chef{
	width: 24.25%;
	height: 53%;
	background: violet;
	margin-left: 5px;
	float: left;
}
.test2{
	width: 100%;
	height: 26%;
	/*background : red;*/
	float: left;
}
.chu2{
	width: 24.25%;
	height: 100%;
	/*background : green;*/
	margin-left: 5px;
	float: left;
}
.page .hinhvuong7{
	width: 100%;
	height: 360px;
	/*background: blue;*/
}
.ye{
	width: 50%;
	height: 94%;
	background: white;
	float: right;
}
.page .hinhvuong8{
	width: 100%;
	height: 360px;
	/*background: blue;*/
}
.yee{
	width: 50%;
	height: 94%;
	background: white;
	float: left;
}
.hinhvuong9{
	width: 100%;
	height: 180px;
	/*background: #f6f6f6;*/
}
.hv{
	width: 31.5%;
	height: 100%;
	/*background: brown;*/
	float: left;
	margin-left: 10px;
}